---
import ModeSwitch from "./ModeSwitch.astro"
import HamburgerButton from "./HamburgerButton.astro"
import Navigation from "./Navigation.astro"
---

<div
	class="navigation absolute left-0 top-0 z-10 hidden w-full flex-1 bg-pacamara-white p-7 pt-[112px] shadow-2xl transition-all duration-300 dark:bg-pacamara-dark"
	id="navigation_wrapper"
>
	<Navigation />
</div>
<header
	class="container relative z-20 mx-auto flex max-w-screen-xl flex-initial flex-row items-center justify-between gap-10 bg-white px-7 py-10 transition-all duration-300 dark:bg-pacamara-dark"
>
	<div class="logo flex-none">
		<a
			href="/"
			class="font-pacamara-space text-lg font-bold transition-all duration-300 hover:text-pacamara-accent dark:text-white dark:hover:text-pacamara-accent"
			>Kue Mamah Arul</a
		>
	</div>
	<div class="navigation hidden flex-1 md:block">
		<Navigation />
	</div>

	<div class="relative flex flex-initial flex-row items-center gap-5">
		<ModeSwitch />
		<HamburgerButton />
	</div>
</header>
