<nav>
	<ul
		class="flex w-full flex-initial list-none flex-col gap-5 text-[14px] font-normal md:flex-row"
	>
		<li>
			<a
				href="/"
				class="text-pacamara-dark opacity-60 transition-all duration-300 hover:text-pacamara-dark hover:opacity-100 dark:text-white dark:hover:text-pacamara-dark"
				>Home</a
			>
		</li>
		<li>
			<a
				href="/jenis-kue"
				class="text-pacamara-dark opacity-60 transition-all duration-300 hover:text-pacamara-dark hover:opacity-100 dark:text-white dark:hover:text-pacamara-dark"
				>Jenis Kue</a
			>
		</li>
		<li class="ml-auto">
			<a
				href="/pesan"
				class="rounded-md bg-pacamara-dark px-3 py-2 text-white transition-all duration-300 hover:opacity-80 dark:bg-white dark:text-pacamara-dark"
				>Pesan Sekarang</a
			>
		</li>
	</ul>
</nav>
